<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAE">


        <activity
            android:name="com.openminds.app.ui.ConnexionActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.openminds.app.ui.InscriptionActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.openminds.app.ui.MainActivity" />

        <activity android:name="com.openminds.app.ui.MonEspaceActivity" />

        <activity android:name="com.openminds.app.ui.CatalogueFormationsActivity" />

        <activity android:name="com.openminds.app.ui.FormationActivity" />

        <activity android:name="com.openminds.app.ui.NouvelleFormationActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.openminds.app.ui.ChoisirSessionActivity" />

        <activity android:name="com.openminds.app.ui.ContenuActivity" />

        <activity android:name="com.openminds.app.ui.ModuleDetailActivity"
            tools:ignore="Instantiatable" />

        <activity android:name="com.openminds.app.ui.MesBadgesActivity" android:exported="false" />

        <activity android:name="com.openminds.app.ui.StatistiquesActivity" />
        <activity android:name="com.openminds.app.ui.MesformationsActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
